<div id="main-container" class="flex flex-row justify-center items-center">
  <div id="register-container"
    class="sm:bg-[#1f1e1e] bg-[#ffffff] lg:basis-1/2 basis-full flex items-center h-screen max-h-screen">
    <div
      class="bg-[#ffffff] sm:w-7/12 md:w-7/12 lg:w-9/12 xl:w-7/12 2xl:w-7/12 2xl:max-w-xl w-[95%] rounded-xl mx-auto">
      <div id="register-card" class="flex flex-col justify-center items-center gap-5 p-5">
        <div id="register-title" class="flex flex-col justify-start w-full">
          <p class="text-2xl font-medium">{{ title | uppercase }}</p>
          <div class="flex flex-row gap-1">
            <span class="text-[#5a5959]">Already registered?
            </span>
            <span class="text-orange hover:text-[#ff3131] transition ease-in-out">
              <a class="font-medium cursor-pointer" (click)="signInLocal()">
                Sign in with your credentials</a>
            </span>
          </div>
        </div>
        <form id="register-form" class="w-full flex flex-col items-center gap-2" [formGroup]="form" autocomplete="off"
          (keydown.enter)="$event.preventDefault()">
          <mat-form-field class="w-full" color="primary">
            <mat-label>Username</mat-label>
            <input cdkFocusInitial formControlName="username" autocomplete="new-username" matInput />
          </mat-form-field>
          <mat-form-field class="w-full" color="primary">
            <mat-label>Password</mat-label>
            <input [type]="inputType" formControlName="password" autocomplete="new-password" matInput />
            <button
              class="mr-3 text-[#5a5959] disabled:cursor-not-allowed disabled:text-[#b9b9b9] hover:text-[#1f1e1e] text-lg"
              type="button" [disabled]="loading" (click)="togglePassword('password')" matSuffix
              [matTooltip]="inputType === 'text' ? 'Hide password' : 'Show password'" [matTooltipDisabled]="loading">
              <fa-icon [icon]="visible ? faEyeSlash : faEye"></fa-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="w-full" color="primary">
            <mat-label>Confirm Password</mat-label>
            <input [type]="inputTypeCP" formControlName="confirmPassword" autocomplete="new-confirm-password" matInput
              [errorStateMatcher]="matcher" />
            <button
              class="mr-3 text-[#5a5959] disabled:cursor-not-allowed disabled:text-[#b9b9b9] hover:text-[#1f1e1e] text-lg"
              type="button" [disabled]="loading" (click)="togglePassword('confirm-password')" matSuffix
              [matTooltip]="inputTypeCP === 'text' ? 'Hide password confirmation' : 'Show password confirmation'"
              [matTooltipDisabled]="loading">
              <fa-icon [icon]="visibleCP ? faEyeSlash : faEye"></fa-icon>
            </button>
            <mat-error *ngIf="form.hasError('notSame')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
          <button
            class="bg-[#1f1e1e] text-[#1cff8e] disabled:bg-[#b9b9b9] disabled:text-[#1f1e1e] disabled:cursor-not-allowed hover:bg-[#1cff8e] hover:text-[#1f1e1e] sm:w-[200px] w-full h-10 rounded-xl border-none cursor-pointer transition ease-in-out"
            type="button" (click)="signUpLocal()" [disabled]="loading || form.invalid">
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="basis-1/2 hidden lg:block">
    <img class="w-full max-w-full h-screen max-h-screen bg-cover" src="assets\images\front_auth_8.webp" alt="login-img">
  </div>
</div>