<div id="main-container" class="bg-[#d1d1d1] flex flex-col items-center justify-center h-screen">
  @defer (when !loading) {
  @if (profileData) {
  <div id="profile-card" class="w-[95%] max-w-[400px]">
    <div class="bg-[#ffffff] flex flex-col items-center justify-center gap-5 rounded-2xl p-5">
      <div id="profile-header"
        class="bg-[#ffffff] flex flex-row items-center justify-center gap-3 text-xl font-medium w-full">
        {{ profileData['username'] }}
        <span>
          <fa-icon [icon]="faCircle" [matTooltip]="profileData['statusDsc']"
            [ngClass]="profileData['status'] === 'A' ? 'text-green' : 'text-[#ff0000]'"></fa-icon>
        </span>
      </div>
      <div id="profile-body" class="bg-[#ffffff] flex flex-col items-center justify-center gap-5">
        <img id="profile-picture" class="w-48 max-w-48 h-48 max-h-48 rounded-full" [src]="profileData['picture']"
          alt="user-picture">
        <div id="profile-info" class="flex flex-col justify-center items-center w-full">
          @if (profileData['displayName']) {
          <p class="text-center text-lg font-medium">DISPLAY NAME: <span class="font-normal">{{
              profileData['displayName'] }}</span>
          </p>
          } @else {
          <p class="text-center text-lg font-medium">FIRST NAME: <span class="font-normal">{{ ['',
              null].includes(profileData['firstName']) ? '-' :
              profileData['firstName']
              }}</span>
          </p>
          <p class="text-center text-lg font-medium">LAST NAME: <span class="font-normal">{{ ['',
              null].includes(profileData['lastName']) ? '-' :
              profileData['lastName'] }}</span>
          </p>
          }
        </div>
      </div>
      <div id="profile-actions" class="bg-[#ffffff] flex flex-row justify-evenly w-full">
        <button
          class="text-[#5a5959] disabled:text-[#b9b9b9] disabled:cursor-not-allowed hover:text-[#ffb007] text-3xl rounded-full border-none cursor-pointer transition ease-in-out"
          [disabled]="readOnly" matTooltip="Edit profile info" (click)="readOnly ? null : goToProfilePage()">
          <fa-icon [icon]="faPenToSquare"></fa-icon>
        </button>
        <button
          class="text-[#5a5959] disabled:text-[#b9b9b9] disabled:cursor-not-allowed hover:text-[#ff0000] text-3xl rounded-full border-none cursor-pointer transition ease-in-out"
          matTooltip="Sign Out" (click)="signOut()">
          <fa-icon [icon]="faSignOut"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  }
  } @placeholder {
  <div class="flex flex-col justify-center items-center gap-5 p-5">
    <p class="text-[#1f1e1e] text-3xl text-center">Retrieving profile data...</p>
  </div>
  }
  @if (hasError) {
  <div class="flex flex-col justify-center items-center gap-5 p-5">
    <p class="text-[#ff0000] text-3xl text-center">There was an error while retrieving profile data, come back later.
    </p>
    <button type="button"
      class="bg-[#1f1e1e] text-[#ff0000] disabled:bg-[#b9b9b9] disabled:text-[#1f1e1e] disabled:cursor-not-allowed hover:bg-[#ff0000] hover:text-[#1f1e1e] sm:w-[175px] w-full h-10 rounded-xl border-none cursor-pointer transition ease-in-out"
      (click)="signOut()">
      Sign Out
    </button>
  </div>
  }
</div>