<div class="flex flex-row justify-center items-center">
  <div class="basis-2/5 hidden lg:block">
    <img class="w-full max-w-full h-screen max-h-screen bg-cover" src="assets\images\front_auth_2.webp" alt="login-img">
  </div>

  <div class="sm:bg-[#1f1e1e] bg-[#ffffff] lg:basis-3/5 basis-full flex items-center h-screen max-h-screen">
    <div
      class="bg-[#ffffff] sm:w-7/12 md:w-6/12 lg:w-7/12 xl:w-6/12 2xl:w-5/12 2xl:max-w-xl w-[95%] sm:px-5 px-3 sm:py-10 py-0 rounded-xl mx-auto">
      <div class="flex flex-col justify-center items-center gap-5">
        <div class="flex flex-col justify-start w-full">
          <p class="text-2xl font-medium">{{ title | uppercase }}</p>
          <div class="flex flex-row gap-2">
            <span class="text-[#5a5959]">Not registered yet?
            </span>
            <span class="text-orange transition ease-in-out hover:-translate-y-1 hover:text-[#ff3131]">
              <a class="font-medium cursor-pointer" (click)="signUpLocal()">
                Create an account!</a>
            </span>
          </div>
        </div>
        <form class="w-full flex flex-col items-center gap-2" [formGroup]="form" autocomplete="off"
          (keydown.enter)="$event.preventDefault()">
          <mat-form-field class="w-full" color="primary">
            <mat-label>Username</mat-label>
            <input cdkFocusInitial formControlName="username" autocomplete="new-username" matInput />
          </mat-form-field>
          <mat-form-field class="w-full" color="primary">
            <mat-label>Password</mat-label>
            <input formControlName="password" autocomplete="new-password" matInput type="password" />
          </mat-form-field>
          <button
            class="bg-[#1cff8e] disabled:bg-[#b9b9b9] text-[#1f1e1e] border-none sm:w-2/5 w-full h-10 rounded-xl cursor-pointer disabled:cursor-not-allowed transition ease-in-out hover:-translate-y-1"
            type="button" (click)="signInLocal()" [disabled]="loading || form.invalid">
            Sign In
          </button>
        </form>
        <p class="text-[#5a5959]">or sign in with:</p>
        <div class="w-full lg:w-auto flex flex-row lg:gap-4 gap-0 lg:justify-between justify-around items-center">
          <button
            class="bg-[#ff3131] disabled:bg-[#b9b9b9] text-[#ffffff] w-12 h-12 text-xl rounded-full border-none p-1 cursor-pointer disabled:cursor-not-allowed transition ease-in-out hover:-translate-y-1"
            type="button" matTooltip="Sign in with Google" (click)="signInWithGoogle()" [disabled]="loading">
            <fa-icon [icon]="faGoogle"></fa-icon>
          </button>
          <button
            class="bg-[#1c26af] disabled:bg-[#b9b9b9] text-[#ffffff] w-12 h-12 text-xl rounded-full border-none p-1 cursor-pointer disabled:cursor-not-allowed transition ease-in-out hover:-translate-y-1"
            type="button" matTooltip="Sign in with Facebook" (click)="signInWithFacebook()" [disabled]="loading">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </button>
          <button
            class="bg-[#474747] disabled:bg-[#b9b9b9] text-[#ffffff] w-12 h-12 text-xl rounded-full border-none p-1 cursor-pointer disabled:cursor-not-allowed transition ease-in-out hover:-translate-y-1"
            type="button" matTooltip="Sign in with Github" (click)="signInWithGithub()" [disabled]="loading">
            <fa-icon [icon]="faGithub"></fa-icon>
          </button>
          <button
            class="bg-[#0a0a0a] disabled:bg-[#b9b9b9] text-[#ffffff] w-12 h-12 text-xl rounded-full border-none p-1 cursor-pointer disabled:cursor-not-allowed transition ease-in-out hover:-translate-y-1"
            type="button" matTooltip="Sign in with Twitter" (click)="signInWithTwitter()" [disabled]="loading">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>