<div class="container d-flex-col">
  <div class="login-card d-flex-col">
    <p class="title">{{ title | uppercase }}</p>
    <p class="title-register">Not registered yet?
      <a (click)="signUpLocal()" class="a-register">
        Create an account!</a>
    </p>
    <form class="d-flex-col" [formGroup]="form" autocomplete="off" (keydown.enter)="$event.preventDefault()">
      <mat-form-field color="primary">
        <mat-label>Username</mat-label>
        <input cdkFocusInitial formControlName="username" autocomplete="new-username" matInput />
      </mat-form-field>
      <mat-form-field color="primary">
        <mat-label>Password</mat-label>
        <input formControlName="password" autocomplete="new-password" matInput type="password" />
      </mat-form-field>
      <button type="button" class="btn-local" (click)="signInLocal()" [disabled]="loading || form.invalid">
        Sign In
      </button>
    </form>
    <p class="p-text-helper-1">or sign in with:</p>
    <div class="btn-social-group d-flex-row">
      <button type="button" matTooltip="Sign in with Google" class="d-flex-row btn-social btn-google"
        (click)="signInWithGoogle()" [disabled]="loading">
        <i class="fa-brands fa-google"></i>
      </button>
      <button type="button" matTooltip="Sign in with Facebook" class="d-flex-row btn-social btn-fb"
        (click)="signInWithFacebook()" [disabled]="loading">
        <i class="fa-brands fa-facebook"></i>
      </button>
      <button type="button" matTooltip="Sign in with Github" class="d-flex-row btn-social btn-git"
        (click)="signInWithGithub()" [disabled]="loading">
        <i class="fa-brands fa-github"></i>
      </button>
      <button type="button" matTooltip="Sign in with Twitter" class="d-flex-row btn-social btn-x"
        (click)="signInWithTwitter()" [disabled]="loading">
        <i class="fa-brands fa-x-twitter"></i>
      </button>
    </div>
  </div>
</div>